<html lang="en" ng-app="Testing">

<head>
    <div ng-include src="'../../public/partials/head.html'"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!--<script src="../../public/blob-angular.js"></script>-->
</head>

<body class="container">
    <header>

        <div ng-include src="'../../public/partials/header.html'"></div>
    </header>
    <main>
        <div class="jumbotron">
            <h1> Blobs! </h1>

            <div ng-repeat="todo in todos">
                {{ todo.name }}
            </div>

            <p> <a href='/blobs/#{blob._id}/edit'> Edit</a></p>
            <p> <a href='/blobs/#{blob._id}'>Show</a></p>
        </div>
    </main>
    <footer>
        <div ng-include src="'../../public/partials/footer.html'"></div>
    </footer>
</body>

</html>
