<div class="modal fade" id="experience_display" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{experience.company}} - {{experience.title}}</h4>
            </div>
            <div class="modal-body">
                <!--<div class="company-logo">-->
                <!--    <img src="../images/IBM_logo.png" />-->
                <!--</div>-->
                <h4>Overview</h4>
                <p> {{experience.overview}} </p>
                <h4>Notable Achievements</h4>
                <p> {{experience.achievements}} </p>
                <h4>Location & Timing</h4>
                <p> {{experience.fromDate | date: "MMM yyyy"}} - {{experience.toDate | date: "MMM yyyy"}}
                <br/> {{experience.location}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
