<div class="modal fade" id="experience_new" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Experience</h4>
            </div>
            <div class="modal-body">
                <div class="company-logo">
                    <img src="../images/IBM_logo.png" />
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Company</label>
                        <input type="text" name="company" class="form-control input-lg" ng-value="company" ng-model="company"></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label>Title</label>
                        <input type="text" name="title" class="form-control input-lg" ng-value="title" ng-model="title"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label>Overview</label>
                        <textarea rows="5" type="text" name="overview" class="form-control input-lg" ng-value="overview" ng-model="overview"></textarea>
                    </div>
                    <div class="col-sm-12">
                        <label>Notable Achievements</label>
                        <textarea rows="5" type="text" name="achievements" class="form-control input-lg" ng-value="achievements" ng-model="achievements"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Location & Timing</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="">From:</label>
                                <input type="date" name="fromDate" class="form-control input-lg" ng-value="fromDate" ng-model="fromDate">
                            </div>
                            <div class="col-sm-6">
                                <label for="">To:</label>
                                <input type="date" name="toDate" class="form-control input-lg" ng-value="toDate" ng-model="toDate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="">Location:</label>
                                <input type="text" name="location" class="form-control input-lg" ng-value="location" ng-model="location">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-lg" ng-click="createExperience(_id, company, title, overview, achievements,fromDate, toDate, location)" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default btn-lg" ng-click="cancelEdit()" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
