    <div class="modal fade" id="skills" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Skills</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Skills</h3>
                            <textarea rows="5" type="text" name="skills" class="form-control input-lg" ng-value="skills" ng-model="skills" ng-list="&#10;" ng-trim="false"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-lg" ng-click="editSkills(_id,skills)" data-dismiss="modal">Save</button>
                    <!--<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>-->
                    <button type="button" class="btn btn-default btn-lg" ng-click="cancelEdit()" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
