<html lang="en" ng-app="homeApp" ng-controller="homeCtrl">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MEAN Stack</title>
    <!-- Include partials head -->
    <div ng-include src="'../public/partials/head.html'"></div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- ANGULAR -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <!-- Load Controller-->
    <script src="../public/javascripts/core.js"></script>
</head>

<body class="container">
    <header>
        <div ng-include src="'../public/partials/header.html'"></div>
    </header>
    <main>
        <div class="jumbotron">
            <h1> {{welcome}} </h1>
        </div>
    </main>
    <footer>
        <div ng-include src="'../public/partials/footer.html'"></div>
    </footer>
</body>

</html>