<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="myApp">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ben Johnstone</title>
    <!--Style Sheets-->
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- ANGULAR -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
    <!--Load Controller & Services-->
    <script src="../../public/javascripts/main.js"></script>
    <script src="../../public/javascripts/controllers/controllers.js"></script>
    <script src="../../public/javascripts/services/services.js"></script>
    <!--Fixes Collapse of Navbar in SPA-->
    <script>
        $(document).on('click', '.navbar-collapse.in', function(e) {
            if ($(e.target).is('a')) {
                $(this).collapse('hide');
            }
        });
    </script>
</head>

<body class="container">
    <header>
        <div ng-include src="'../public/partials/header.html'"></div>
    </header>

    <div ng-view></div>

    <footer>
        <div ng-include src="'../public/partials/footer.html'"></div>
    </footer>
</body>

</html>