.ng-cloak {
    display:none;
  }
body {
  padding-top: 75px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
    margin-top: 0px;
    background-image: url(../images/banner_image.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.text-white {
  color: white;
}

.image-cropper {
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    margin: 0 auto;
    height: 100%;
    width: auto;
}