<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="myApp">

<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Todos Page</title>
	<!-- Include partials head -->
	<!--<div ng-include src="'../../public/partials/head.html'"></div>-->
	<!--Style Sheets-->
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Fonts -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- ANGULAR -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-cookies.js"></script>
	<!--Load Controller & Services-->
	<script src="../../public/javascripts/controllers/controllers.js"></script>
	<script src="../../public/javascripts/services/services.js"></script>
</head>

<body>
	<div class="container">
		<header>
			<div ng-include src="'../public/partials/header.html'"></div>
		</header>
	</div>
	<!-- Todos Body-->
	<div ng-controller="todosController" ng-cloak class="container {{ bodyClass }}">
		<!--HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Sintus Todo Build List! <span class="label label-info">{{ todos.length }}</span></h1>
		</div>

		<!--TODO LIST -->
		<div id="todo-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<!--LOOP OVER THE TODOS IN $scope.todos -->
				<div class="checkbox" ng-repeat="todo in todos">
					<label>
						<input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
					</label>
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>
		</div>

		<!--FORM TO CREATE TODOS -->
		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!--BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="Add to list so you don't forget!" ng-model="formData.text">
					</div>

					<!--createToDo() WILL CREATE NEW TODOS -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
				</form>
			</div>
		</div>
	</div>

	<footer>
		<div ng-include src="'../public/partials/footer.html'"></div>
	</footer>
</body>

</html>
