<html lang="en" ng-app="loginApp">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <!--Style Sheets-->
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- ANGULAR -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-cookies.js"></script>
    <!-- Load controllers & services-->
    <script src="../../public/javascripts/controllers/controllers.js"></script>
    <script src="../../public/javascripts/services/services.js"></script>
    <!--<script src="../../public/javascripts/core.js"></script>-->
</head>

<body>
    <div ng-controller="loginController" ng-cloak class="container {{ bodyClass }}">
        <header>
            <div ng-include src="'../../public/partials/header.html'"></div>
            <!--<div ng-include src="'./header.html'"></div>-->
        </header>
        <main>
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1><span class="fa fa-sign-in"></span> Login</h1>
                    <!-- show any messages that come back with authentication -->
                    <div ng-show="message.length > 0" class="alert alert-danger">
                        {{ errorMessage }}
                    </div>

                    <!-- LOGIN FORM -->
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Email </label>
                            <input type="text" class="form-control" name="username" placeholder="Enter Email" ng-model="loginForm.username">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Enter Password" ng-model="loginForm.password">
                        </div>
                        <button ng-click="login()" class="btn btn-warning btn-lg">Login</button>
                    </form>
                    <hr>
                    <p>Need an account? <a href="/signup">Signup</a></p>
                    <p>Or go <a href="/">home</a>.</p>
                </div>
            </div>
        </main>
        <footer>
            <div ng-include src="'../../public/partials/footer.html'"></div>
        </footer>
    </div>
</body>

</html>