<html lang="en" ng-app="profileApp">

<head>
<!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <!-- Include partials head -->
    <!--<div ng-include src="'../../public/partials/head.html'"></div>-->
    <!--Style Sheets-->
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- ANGULAR -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <!-- Load Controllers & Services-->
    <script src="../../public/javascripts/controllers/profile.controller.js"></script>
    <script src="../../public/javascripts/core.js"></script>
</head>

<body class="container" ng-controller="mainCtrl" ng-cloak class="container {{ bodyClass }}">
    <header>
        <div ng-include src="'../../public/partials/header.html'"></div>
    </header>
    <main>
        <div class="jumbotron">
            <h1> Profile Page </h1>
        </div>
        <div class="container">
            <div>
                <label>User: {{user.username}}</label>
            </div>

            <div>
                <label>Title: {{title}}</label>
            </div>
        </div>
    </main>
    <footer>
        <div ng-include src="'../../public/partials/footer.html'"></div>
    </footer>

</body>

</html>