<html lang="en" ng-app="profileApp">

<head>
    <div ng-include src="'../../public/partials/head.html'"></div>
    <!-- load up our controller -->
    <script src="../../public/javascripts/controllers/profile.controller.js"></script>
    <!-- load our service -->
    <!--<script src="../../public/javascripts/services/accounts.js"></script>-->
    <!-- load our main application -->
    <script src="../../public/javascripts/core.js"></script>
</head>

<body class="container" ng-controller="mainCtrl">
    <header>
        <div ng-include src="'../../public/partials/header.html'"></div>
    </header>
    <main>
        <div class="jumbotron">
            <h1> Profile Page </h1>
        </div>
        <div class="container">
            <div>
                <label>User: {{user.username}}</label>
            </div>

            <div>
                <label>Title: {{title}}</label>
            </div>
        </div>
    </main>
    <footer>
        <div ng-include src="'../../public/partials/footer.html'"></div>
    </footer>

</body>

</html>