<html lang="en" ng-app="myApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <!--Style Sheets-->
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled javaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- ANGULAR -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-cookies.js"></script>
    <!-- Load controllers & services-->
    <script src="../../public/javascripts/controllers/controllers.js"></script>
    <script src="../../public/javascripts/services/services.js"></script>
</head>

<body ng-controller="profileController" ng-cloak class="container {{ bodyClass }}">
    <header>
        <div ng-include src="'../../public/partials/header.html'"></div>
    </header>
    <main>
        <div class="jumbotron">
            <h1> Profile Page </h1>
        </div>
        <div class="container">
            <div>
                <label>Name: {{fname}} {{lname}}</label>
            </div>
            <div>
                <label>User: {{username}}</label>
            </div>
            <div>
                <label>Id: {{_id}}</label>
            </div>
            <div>
                <span><button class="btn btn-primary" ng-click="editUser(_id)">Edit Profile</button></span>
                <span><button class="btn btn-danger" ng-click="deleteUser(_id)">Delete Profile</button></span>
            </div>
        </div>
    </main>
    <footer>
        <div ng-include src="'../../public/partials/footer.html'"></div>
    </footer>
</body>

</html>