<div ng-controller="accountsController" ng-cloak class="{{ bodyClass }}">
    <div class="jumbotron">
        <h1> Accounts Page - <span class="label label-info"> {{ accounts.length }} </span></h1>
    </div>
    <div id="account-list" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <!--LOOP OVER THE Accounts IN $scope.accounts -->
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>Account Name</th>
                        <th>Currency</th>
                        <th>Active</th>
                        <th>Payment Term</th>
                        <th>Edit</th>
                        <th>Delete?</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="account in accounts">
                            <td>{{ account.name }}</td>
                            <td>{{ account.currency }}</td>
                            <td>{{ account.active }}</td>
                            <td>{{ account.paymentTerm }}</td>
                            <td><a ng-href="/#/accounts/edit/{{account._id}}" class="btn btn-primary" >Edit</a></td>
                            <td><button class="btn btn-danger" ng-click="deleteAccount(account._id)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="text-center" ng-show="loading">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </p>
        </div>
    </div>
    <div id="account-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">

                    <!--BIND THIS VALUE TO formData.name & formData.currency IN ANGULAR -->
                    <input type="text" name="name" class="form-control input-lg text-center" placeholder="Account Name" ng-model="formData.name">
                    <input type="text" name="currency" class="form-control input-lg text-center" placeholder="Enter Currency" ng-model="formData.currency">
                    <input type="Boolean" name="active" class="form-control input-lg text-center" placeholder="Active?" ng-model="formData.active">
                    <input type="Number" name="paymentTerm" class="form-control input-lg text-center" placeholder="Payment Term" ng-model="formData.paymentTerm">

                </div>

                <!--createAccount() WILL CREATE NEW Account -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createAccount()">Add</button>
            </form>
        </div>
    </div>
</div>