<div ng-controller="editAccountsController" ng-cloak class="{{ bodyClass }}">
    
    Edit Page!
    <!--<div id="account-form" class="row">-->
    <!--    <div class="col-sm-8 col-sm-offset-2 text-center">-->
    <!--        <form>-->
    <!--            <div class="form-group">-->
                    <!--BIND THIS VALUE TO formData.name & formData.currency IN ANGULAR -->
    <!--                <input type="text" name="name" class="form-control input-lg text-center" placeholder="{{account.name}}" ng-model="formData.name">-->
    <!--                <input type="text" name="currency" class="form-control input-lg text-center" placeholder="{{account.currency}}" ng-model="formData.currency">-->
    <!--                <input type="Boolean" name="active" class="form-control input-lg text-center" placeholder="{{account.active}}" ng-model="formData.active">-->
    <!--                <input type="Number" name="active" class="form-control input-lg text-center" placeholder="{{acccount.paymentTerm}}" ng-model="formData.paymentTerm">-->
    <!--            </div>-->
                <!--createAccount() WILL Update Account -->
    <!--            <button type="submit" class="btn btn-primary btn-lg" ng-click="saveAccountEdit()">Save</button>-->
    <!--        </form>-->
    <!--    </div>-->
    <!--</div>-->
</div>