<div ng-controller="homeController" ng-cloak class="{{ bodyClass }}">
    <div class="jumbotron">
        <h1> {{welcome}} </h1>
    </div>
    <div>
        <p>
            This is a simple web application built using the <a href="http://mean.io/">MEAN</a> framework and deployed with Heroku. Some areas of the application are restricted to administrators only. Please feel free to connect with me on
            <a href="https://www.linkedin.com/in/ben-johnstone/">LinkedIn</a> if you'd like to learn more.
        </p>
     
        
        <div class="ct-chart" id="chart1"></div>
        <div class="ct-chart" id="chart2"></div>
        
    </div>
</div>