<div ng-controller="profileController" ng-cloak class="{{ bodyClass }}">
    <div class="jumbotron">
        <h1> Profile Page </h1>
    </div>
    <div class="container">
        <div>
            <label>Name: {{fname}} {{lname}}</label>
        </div>
        <div>
            <label>User: {{username}}</label>
        </div>
        <div>
            <label>Id: {{_id}}</label>
        </div>
        <div>
            <label>Admin: {{admin}}</label>
        </div>
        <div>
            <span><a class="btn btn-primary" href="/#/profile/edit/{{_id}}">Edit Profile</a></span>
            <span><button class="btn btn-danger" ng-click="deleteUser(_id)">Delete Profile</button></span>
        </div>
    </div>
</div>