<div ng-controller="signupController" ng-cloak class="{{ bodyClass }}">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Signup</h1>

            <!-- show any messages that come back with authentication -->
            <div ng-show="message.length > 0" class="alert alert-danger">
                {{ message }}
            </div>
            <!-- SIGNUP FORM -->
            <form ng-submit="signup()">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="fname" placeholder='First Name' ng-model='signupForm.fname'>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lname" placeholder='Last Name' ng-model='signupForm.lname'>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="username" placeholder='Email' ng-model='signupForm.username'>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder='Password' ng-model='signupForm.password'>
                </div>
                <button ng-click="signup()" class="btn btn-warning btn-lg">Signup</button>
            </form>

            <hr>
            <p>Already have an account? <a href="/#/login" class="btn btn-primary btn-sm">Login</a></p>
            <p>Or go <a href="/#/">home</a>.</p>
        </div>
    </div>
</div>