<!-- Todos Body-->
<div ng-controller="todosController" ng-cloak class="{{ bodyClass }}">
    <!--HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h1> Todo Build List! <span class="label label-info">{{ todos.length }}</span></h1>
    </div>

    <!--TODO LIST -->
    <div id="todo-list" class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--LOOP OVER THE TODOS IN $scope.todos -->
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>Inc.</th>
                        <th>Dec.</th>
                        <th>Todo</th>
                        <th>Delete?</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="todo in todos | orderBy: '-rank'">
                            <td><button ng-click="increase(todo._id)" class="btn btn-primary btn-sm">+</button>
                            </td>
                            <td> <button ng-click="decrease(todo._id)" class="btn btn-warning btn-sm">-</button>
                            </td>
                            <td> <label>Rank: {{ todo.rank }} - {{ todo.text }}</label></td>
                            <td>
                                <button ng-click="deleteTodo(todo._id)" class="btn btn-danger btn-sm">X</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--        <div ng-repeat="todo in todos | orderBy: '-rank' track by $index" style="padding:5px;">-->
            <!--            <button ng-click="increase($index)" class="btn btn-primary btn-sm">+</button>-->
            <!--            <button ng-click="decrease($index)" class="btn btn-warning btn-sm">-</button>-->
            <!--            <label>-->
            <!--		 Rank: {{ todo.rank }} Index: {{ $index }} - {{ todo.text }}-->
            <!--</label>-->
            <!--            <span class="pull-right">-->
            <!--            <button ng-click="deleteTodo(todo._id)" class="btn btn-danger btn-sm">X</button>-->
            <!--            </span>-->
            <!--        </div>-->

            <p class="text-center" ng-show="loading">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </p>
        </div>
    </div>

    <!--FORM TO CREATE TODOS -->
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <!--BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="Add to list so you don't forget!" ng-model="formData.text">
                </div>
                <!--createToDo() WILL CREATE NEW TODOS -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
            </form>
        </div>
    </div>
</div>